<section class="pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="p-3 mt-2" style="font-size: 20px">
        User
        <div class="btn btn-light addUser">+Add User</div>
        <div class="btn btn-light icon1">
          <mat-icon> format_list_bulleted</mat-icon>
        </div>
        <div class="btn btn-light icon2"><mat-icon>apps</mat-icon></div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="p-3 mt-2" style="font-size: 10px">
          <div class="btn btn-light icon3">
            <mat-icon> format_line_spacing</mat-icon> Sort By
          </div>
          <div class="btn btn-light icon4">
            <mat-icon>filter_list</mat-icon>Filter By
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card p-3">
                  <div class="card-body text-right mr-5">
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                      alt="card image"
                    />
                    <div class="w-100 text-right">
                      <h4 class="mb-0 mt-0 mr-5">{{ name }}</h4>
                      <h4 class="mb-0 mt-0">{{ email }}</h4>
                      <div class="active-container">
                        <div class="circle"></div>
                      </div>
                      <h4 class="mb-0 mt-0">Active</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
