<div class="row">
  <div class="p-3 mt-2" style="font-size: 20px">
    User
    <div class="btn btn-light addUser" routerLink="/userForm">+Add User</div>
    <div class="btn btn-light icon1">
      <mat-icon routerLink="/cardView"> format_list_bulleted</mat-icon>
    </div>
    <div class="btn btn-light icon2"><mat-icon routerLink="/tableView">apps</mat-icon></div>
  </div>
</div>
<div class="row">
  <div class="row">
    <div class="p-3 mt-2" style="font-size: 10px">
      <div class="btn btn-light icon3">
        <mat-icon> format_line_spacing</mat-icon> Sort By
      </div>
      <div class="btn btn-light icon4">
        <mat-icon>filter_list</mat-icon>Filter By
      </div>
    </div>
<div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Status</th>
            <th>Password</th>
            <th>confirmPassword</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userData">
            <td>{{ user.id}}</td>
            <td>
              <ngx-avatar name={{user.firstName}}></ngx-avatar>
              {{user.firstName}}  
            </td> 
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role}}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.confirmPassword }}</td>
            <td>
              <button  class="btn btn-light"(click)="delete.deleteUser(user.id)" ><mat-icon>delete_outline</mat-icon></button>
              <app-delete-user #delete></app-delete-user>
              <!-- <button  class="btn btn-light"  routerLink="/deleteUser/{{user.id}}" ><mat-icon>delete_outline</mat-icon></button> -->
            </td>
            <td>
              <button class="btn btn-light mr-0" routerLink="/editUser/{{user.id}}" ><mat-icon>edit</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
